:root {
    --mw: 750px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F4ECD8;
    color: #5B4636;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    hyphens: auto;
    line-height: 140%;
}

p {
    hyphens: auto;
}

.entry-list {
    max-width: var(--mw);
    margin-left: auto;
    margin-right: auto;
}

.trenner {
    border-color: #5a5a5ac7;
    margin-top: 0px;
    margin-bottom: 0px;
}

.edit {
    color: gray;
    font-size: x-small;
    font-style: italic;
}

a {
    color: #0061E0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.bar {
    color: #5B4636;
    font-size: 0.7em;
}

.back a {
    font-size: 0.75em;
    color: #5B4636;
    text-decoration: underline;
    font-style: italic;
}

.back a:hover {
    color: #5B4636;
}

.back {
    max-width: var(--mw);
    margin-left: auto;
    margin-right: auto;
}

.mail {
    max-width: var(--mw);
    margin-left: auto;
    margin-right: auto;
}

.content {
    max-width: var(--mw);
    margin-left: auto;
    margin-right: auto;
}

.content a {
    color: #0061E0;
}

.bar a {
    color: #3d2f24;
}

.bar {
    margin-top: 20px;
    max-width: var(--mw);
    margin-left: auto;
    margin-right: auto;
}

.date {
    font-size: large;
}

.first_paragraph {
    font-style: italic;
}

h1 {
    color: #5B4636;
}

h2 {
    color: #5B4636;
}

h3 {
    color: #5B4636;
}

h4 {
    color: #5B4636;
}

h5 {
    color: #5B4636;
}

h6 {
    color: #5B4636;
}